<div class="grid gap-4 place-content-center bg-white bg-opacity-50 del-employee size-full">
    <div class="border-8 border-indigo-600 bg-white w-96 h-40">
        <div class="text-center">
            <h3 class="font-bold m-2">Delete Employee</h3>
            <p class="font-semibold">Are you sure you want to delete the record?</p>
        </div>
        <div class="flex flex-row justify-around m-2">
            @if(!isDelete){
                <button class="bg-red-600 m-2 text-white py-2 px-8 rounded-md" (click)="delete()">Delete</button>
            }
            @if(isDelete){
                <button class="bg-red-600 m-2 text-white py-2 px-8 rounded-md flex items-center">
                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                    Delete
                </button>
            }
            <button class="bg-blue-600 m-2 text-white py-2 px-8 rounded-md" type="button" (click)="close()">Cancel</button>
        </div>    
    </div>
</div>